<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShellExchangeRates.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ShellExchangeRates.My.MySettings>
            <setting name="AllCurrencies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>- All Currencies -</string>
                        <string>USD</string>
                        <string>EUR</string>
                        <string>GBP</string>
                        <string>AED</string>
                        <string>ALL</string>
                        <string>AMD</string>
                        <string>ANG</string>
                        <string>AOA</string>
                        <string>ARS</string>
                        <string>AUD</string>
                        <string>AWG</string>
                        <string>AZN</string>
                        <string>BAM</string>
                        <string>BBD</string>
                        <string>BDT</string>
                        <string>BGN</string>
                        <string>BHD</string>
                        <string>BMD</string>
                        <string>BND</string>
                        <string>BOB</string>
                        <string>BRL</string>
                        <string>BSD</string>
                        <string>BWP</string>
                        <string>BYN</string>
                        <string>BYR</string>
                        <string>BZD</string>
                        <string>CAD</string>
                        <string>CDF</string>
                        <string>CHF</string>
                        <string>CLP</string>
                        <string>CNY</string>
                        <string>COP</string>
                        <string>CRC</string>
                        <string>CUP</string>
                        <string>CVE</string>
                        <string>CZK</string>
                        <string>DJF</string>
                        <string>DKK</string>
                        <string>DOP</string>
                        <string>DZD</string>
                        <string>ECS</string>
                        <string>EEK</string>
                        <string>EGP</string>
                        <string>ERN</string>
                        <string>ETB</string>
                        <string>FJD</string>
                        <string>GEL</string>
                        <string>GHS</string>
                        <string>GIP</string>
                        <string>GMD</string>
                        <string>GNF</string>
                        <string>GTQ</string>
                        <string>GYD</string>
                        <string>HKD</string>
                        <string>HNL</string>
                        <string>HRK</string>
                        <string>HTG</string>
                        <string>HUF</string>
                        <string>IDR</string>
                        <string>ILS</string>
                        <string>INR</string>
                        <string>IQD</string>
                        <string>IRR</string>
                        <string>ISK</string>
                        <string>JMD</string>
                        <string>JOD</string>
                        <string>JPY</string>
                        <string>KES</string>
                        <string>KHR</string>
                        <string>KRW</string>
                        <string>KWD</string>
                        <string>KZT</string>
                        <string>LAK</string>
                        <string>LBP</string>
                        <string>LKR</string>
                        <string>LSL</string>
                        <string>LTL</string>
                        <string>LVL</string>
                        <string>LYD</string>
                        <string>MAD</string>
                        <string>MDL</string>
                        <string>MGA</string>
                        <string>MMK</string>
                        <string>MNT</string>
                        <string>MOP</string>
                        <string>MRO</string>
                        <string>MRU</string>
                        <string>MUR</string>
                        <string>MWK</string>
                        <string>MXN</string>
                        <string>MYR</string>
                        <string>MZN</string>
                        <string>NAD</string>
                        <string>NGN</string>
                        <string>NIO</string>
                        <string>NOK</string>
                        <string>NZD</string>
                        <string>OMR</string>
                        <string>PAB</string>
                        <string>PEN</string>
                        <string>PGK</string>
                        <string>PHP</string>
                        <string>PKR</string>
                        <string>PLN</string>
                        <string>PYG</string>
                        <string>QAR</string>
                        <string>RON</string>
                        <string>RSD</string>
                        <string>RUB</string>
                        <string>RWF</string>
                        <string>SAR</string>
                        <string>SBD</string>
                        <string>SCR</string>
                        <string>SDG</string>
                        <string>SEK</string>
                        <string>SGD</string>
                        <string>SLL</string>
                        <string>SRD</string>
                        <string>SVC</string>
                        <string>SYP</string>
                        <string>SZL</string>
                        <string>THB</string>
                        <string>TMT</string>
                        <string>TND</string>
                        <string>TOP</string>
                        <string>TRY</string>
                        <string>TTD</string>
                        <string>TWD</string>
                        <string>TZS</string>
                        <string>UAH</string>
                        <string>UGX</string>
                        <string>UYU</string>
                        <string>VEF</string>
                        <string>VES</string>
                        <string>VND</string>
                        <string>VUV</string>
                        <string>WST</string>
                        <string>XAF</string>
                        <string>XCD</string>
                        <string>XOF</string>
                        <string>XPF</string>
                        <string>YER</string>
                        <string>ZAR</string>
                        <string>ZMK</string>
                        <string>ZMW</string>
                        <string>ZWD</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ShellExchangeRates.My.MySettings>
    </userSettings>
</configuration>